:root {
  --white-color: #ffffff;
  --primary-text-color: rgba(33, 33, 33, 1);
  --secondary-text-color: rgba(117, 117, 117, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --logo-studio-color: #000000;
  --background-hero: rgba(47, 48, 58, 1);
  --background-section-team: #F5F4FA;
  --footer-background-color: rgba(47, 48, 58, 1);
  --address-links-color: rgba(255, 255, 255, 0.6);
  --backgroung-buttons-color: rgba(245, 244, 250, 1);
  --primary-buttons-text-color: rgba(33, 33, 33, 1);
  --background-for-button: #188CE8;
  --border-color-cards: rgba(238, 238, 238, 1);
  --border-for-header: rgba(236, 236, 236, 1);
  --button-active-color: rgba(245, 244, 250, 1);
  --color-for-team-cards: rgba(255, 255, 255, 1);
  --gradient-color: rgba(47, 48, 58, 0.4) 35%;
  --background-features-card: #F5F4FA;
  --color-for-join: rgba(255, 255, 255, 1);
  --icon-color: rgba(175, 177, 184, 1);
  --color-for-links: rgba(255, 255, 255, 1);
  --icon-background-color: rgba(255, 255, 255, .1);
  --overlay-color: rgba(0, 0, 0, 0.2);
  --modal-window-color: rgba(255, 255, 255, 1);
  --activity-cards-text-color: rgba(255, 255, 255, 1);
  --activity-cards-background: rgba(47, 48, 58, 0.8);
  --ovarlay-examples-cards-color: rgba(33, 150, 243, 0.9);
  --overlay-examples-text-color: rgba(255, 255, 255, 1);
  --close-button-color: #000000;
  --subscribe-title-color: rgba(255, 255, 255, 1);
  --subscribe-button-color: rgba(255, 255, 255, 1);
  --subscribe-button-box-shadow: rgba(0, 0, 0, 0.15);
  --subscribe-button-background-color: rgba(33, 150, 243, 1);
  --subscribe-button-hover-background-color: #188ce8;
  --subscribe-icon-color: rgba(255, 255, 255, 1);
  --subscribe-input-text-color: rgba(255, 255, 255, 0.6);
  --callback-title-color: rgba(33, 33, 33, 1);
  --callback-form-lable-color: rgba(117, 117, 117, 1);
  --callback-form-input-border-color: rgba(33, 33, 33, 0.2);
  --callback-agreenamt-link-color: rgba(33, 150, 243, 1);
  --callbackform-agreemant-text: rgba(117, 117, 117, 1);
  --call-back-form-checkbox-border-color: rgba(33, 33, 33, 1);
  --checkbox-button-hover-color: #188ce8;
  --main-font: Roboto,sans-serif;
  --logo-font: Raleway,sans-serif;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.site-nav, .auth-nav, .auth-nav__item, .header-social, .features__list, .activity__wrapper, .team__list, .team__social, .clients__list, .address, .social__list, .filters, .examples__wrapper {
  padding: 0;
  margin: 0;
  list-style: none;
}

.title-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.activity {
  padding-top: 0px;
  padding-bottom: 94px;
}

.callback-form__checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  color: var(--primary-text-color);
  background-color: var(--white-color);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

body.menu-open,
body.modal-open {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.header {
  border-bottom: 1px solid var(--border-for-header);
}

@media screen and (max-width: 767px) {
  .header {
    position: relative;
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header__wrapper {
    padding-top: 16px;
    padding-bottom: 16px;
    justify-content: space-between;
  }
}

.header-button__burger {
  right: 0px;
  border: none;
  background-color: transparent;
  z-index: 999;
  transition: color 250ms var(--timing-function);
  color: var(--primary-text-color);
}

.header-button__burger:hover, .header-button__burger:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .header-button__burger {
    display: none;
  }
}

.header-button__burger.is-open {
  position: fixed;
  top: 10px;
  right: 15px;
  padding: 0;
}

.header-button__icon {
  display: block;
  fill: currentColor;
}

.header-button__icon--close {
  display: none;
}

.header-button__burger.is-open .header-button__icon--open {
  display: none;
}

.header-button__burger.is-open .header-button__icon--close {
  display: block;
}

.header__menu-container {
  display: none;
}

@media screen and (max-width: 767px) {
  .header__menu-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    background-color: #ffffff;
  }
  .header__menu-container.is-open {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .header__menu-container {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.header-nav {
  position: relative;
}

@media screen and (min-width: 768px) {
  .header-nav {
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header-nav {
    margin-left: 93px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__item:not(:first-child) {
    margin-left: 50px;
  }
}

@media screen and (max-width: 767px) {
  .site-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.site-nav__link {
  transition: color 250ms var(--timing-function);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
}

@media screen and (min-width: 768px) {
  .site-nav__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: inherit;
    line-height: inherit;
  }
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--current {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .site-nav__link--current {
    color: var(--accent-color);
  }
  .site-nav__link--current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

@media screen and (max-width: 767px) {
  .auth-nav {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav {
    display: flex;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav {
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav {
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 768px) {
  .header__info-container {
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .auth-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-nav__item:not(:first-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav__item:not(:last-child) {
    margin-left: 30px;
  }
}

.auth-nav__link {
  transition: color 250ms var(--timing-function);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 768px) {
  .auth-nav__link {
    font-size: 12px;
    line-height: 1.16;
  }
}

.auth-nav__link:hover, .auth-nav__link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .auth-nav__link--large {
    font-size: 34px;
    line-height: 1.17;
    color: var(--accent-color);
  }
}

@media screen and (max-width: 480px) {
  .auth-nav__link--large {
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav__link--large {
    font-size: 12px;
    line-height: 1.16;
    color: var(--secondary-text-color);
  }
}

.auth-nav__icon {
  display: none;
}

@media screen and (min-width: 768px) {
  .auth-nav__icon {
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
    fill: currentColor;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav__icon {
    margin-right: 10px;
  }
}

.header-social {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .header-social {
    display: none;
  }
}

.header-social__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.header-social__item:not(:first-child) {
  padding-left: 9px;
}

.header-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-color);
}

.logo {
  display: block;
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--black {
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--logo-studio-color);
}

.logo--white {
  color: var(--white-color);
}

.logo__footer {
  margin-bottom: 20px;
}

.hero {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-color: var(--background-hero);
  background-image: linear-gradient(var(--gradient-color), var(--gradient-color)), url("../images/background-image-480.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(var(--gradient-color), var(--gradient-color)), url("../images/background-image-960.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(var(--gradient-color), var(--gradient-color)), url("../images/background-image-768.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(var(--gradient-color), var(--gradient-color)), url("../images/background-image-1536.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(var(--gradient-color), var(--gradient-color)), url("../images/background-image-1600.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(var(--gradient-color), var(--gradient-color)), url("../images/background-image-3200.jpg");
  }
}

.hero__container {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .hero__container {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  margin-bottom: 30px;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  position: relative;
  transition: background-color 250ms var(--timing-function);
  display: block;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  margin: 30px auto 0;
  min-width: 130px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
}

.hero__button:hover, .hero__button:focus {
  background-color: var(--background-for-button);
}

.features {
  background-color: var(--white-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .features__list {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__item {
    flex-basis: calc( 100% / 2 - 30px);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item:not(:last-child) {
    margin-right: 30px;
  }
}

.features__title {
  margin-bottom: 10px;
  font-size: inherit;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

@media (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.features__text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.features__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
  border-radius: 4px;
  height: 120px;
  background-color: var(--background-features-card);
}

.activity {
  display: none;
  background-color: var(--white-color);
}

@media screen and (min-width: 1200px) {
  .activity {
    display: block;
  }
}

.activity__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.activity__wrapper {
  display: flex;
}

.activity__item:not(:last-child) {
  margin-right: 30px;
}

.activity__picture {
  display: block;
}

.activity__wrap {
  position: relative;
}

.activity__description {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px 0;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: var(--activity-cards-background);
  color: var(--activity-cards-text-color);
}

.team {
  background-color: var(--background-section-team);
}

.team__list {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team__title {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
  }
}

.team__item {
  text-align: center;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--color-for-team-cards);
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc( 50% - 30px);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc(25% - 30px);
    margin: 15px;
  }
}

.team__card {
  padding-top: 30px;
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .team__card {
    padding-bottom: 30px;
  }
}

.team__name {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team__role {
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.team__social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team__icons:not(:last-child) {
  margin-right: 10px;
}

.team__link {
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
}

.team__link:hover, .team__link:focus {
  background-color: var(--accent-color);
  color: var(--color-for-team-cards);
}

.team__icon {
  fill: currentColor;
}

.team-picture {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.clients__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
}

@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clients__item {
  height: 92px;
  margin: 15px;
  flex-basis: 100%;
}

@media screen and (min-width: 480px) {
  .clients__item {
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc( 100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.clients__link {
  transition: color 250ms var(--timing-function), border-color 250ms var(--timing-function);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--icon-color);
}

.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}

@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__wrapper {
    padding-left: 89px;
    padding-right: 76px;
  }
}

@media screen and (min-width: 768px) {
  .footer__wrapper {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer__wrapper {
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 1199px) {
  .address__wrapper {
    margin-bottom: 60px;
  }
}

.address__item {
  margin-bottom: 9px;
}

.address__link {
  text-decoration: none;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.info__item:not(:last-child) {
  margin-bottom: 9px;
}

.info__link {
  transition: color 250ms var(--timing-function);
  text-decoration: none;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--address-links-color);
}

.info__link:hover, .info__link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .social__wrapper {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .social__wrapper {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .social__wrapper {
    margin-left: 70px;
  }
}

.social__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-for-join);
}

.social__list {
  display: flex;
  justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  transition: background-color 250ms var(--timing-function);
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: var(--color-for-links);
  background-color: var(--icon-background-color);
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
}

.social__icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .subscribe__wrapper {
    flex-grow: 1;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__wrapper {
    margin-left: 93px;
  }
}

.subscribe__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--subscribe-title-color);
}

@media screen and (max-width: 1199px) {
  .subscribe__form {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__form {
    display: flex;
    flex-wrap: nowrap;
  }
}

.subscribe__input {
  padding-left: 16px;
  max-width: 450px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: var(--footer-background-color);
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--subscribe-input-text-color);
}

.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--subscribe-input-text-color);
}

@media screen and (max-width: 1199px) {
  .subscribe__input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__input {
    max-width: 358px;
  }
}

.subscribe__button {
  display: block;
  transition: background-color 250ms var(--timing-function);
  min-width: 200px;
  padding: 10px 0;
  vertical-align: middle;
  box-shadow: 0px 4px 4px var(--subscribe-button-box-shadow);
  border: transparent;
  border-radius: 4px;
  background-color: var(--subscribe-button-background-color);
  cursor: pointer;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: var(--subscribe-button-color);
}

.subscribe__button:hover {
  background-color: var(--subscribe-button-hover-background-color);
}

@media screen and (max-width: 1199px) {
  .subscribe__button {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__button {
    margin-left: 12px;
  }
}

.subscribe__icon {
  margin-left: 10px;
  vertical-align: middle;
  fill: var(--subscribe-icon-color);
}

.backdrop {
  position: fixed;
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--overlay-color);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  max-height: 609px;
  width: calc(100vw - 30px);
  height: calc(100vh - 30px);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--modal-window-color);
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 581px;
  }
}

.modal-button--close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  transition: fill 250ms var(--timing-function);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  fill: var(--close-button-color);
}

.modal-button--close:hover {
  fill: var(--accent-color);
}

.callback-form {
  padding: 40px;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.callback-form__title {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--callback-title-color);
}

@media screen and (max-width: 1199px) {
  .callback-form__title {
    line-height: 1.5;
  }
}

.callback-form__lable {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--callback-form-lable-color);
}

.callback-form__field {
  position: relative;
}

.callback-form__input {
  transition: border-color 250ms var(--timing-function);
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
  padding-left: 42px;
  border: 1px solid var(--callback-form-input-border-color);
  border-radius: 4px;
}

.callback-form__input:focus {
  border-color: var(--accent-color);
  outline: 0;
}

.callback-form__input:focus ~ .callback-form__input-icon {
  fill: var(--accent-color);
}

.callback-form__input-icon {
  position: absolute;
  transition: fill 250ms var(--timing-function);
  top: 11px;
  left: 12px;
  fill: #212121;
}

.callback-form__comment {
  transition: border-color 250ms var(--timing-function);
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.callback-form__comment::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.callback-form__comment:focus {
  outline: 0;
  border-color: var(--accent-color);
}

.callback-form__agreement-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--callbackform-agreemant-text);
}

.callback-form__agreement-link {
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--callback-agreenamt-link-color);
}

.callback-form__button {
  transition: background-color 250ms var(--timing-function);
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 100%;
  max-width: 200px;
  background-color: #2196f3;
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--white-color);
  letter-spacing: 0.06em;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.callback-form__button:hover {
  background-color: var(--checkbox-button-hover-color);
}

.callback-form__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.callback-form__checkbox-input:checked + .callback-form__checkbox-icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  fill: var(--white-color);
}

.callback-form__checkbox-icon {
  transition: border-color 250ms var(--timing-function), background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
  display: inline-flex;
  align-items: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--call-back-form-checkbox-border-color);
  border-radius: 2px;
  fill: var(--white-color);
}

.callback-form__checkbox-icon:focus {
  outline: 2px solid var(--accent-color);
}

.filters {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .filters {
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filters {
    margin-bottom: 50px;
  }
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 768px) {
  .filters__item {
    margin-bottom: 15px;
  }
}

.filters__button {
  display: block;
  border: none;
  border-radius: 4px;
  min-width: 73px;
  padding: 6px 22px;
  color: var(--primary-buttons-text-color);
  background-color: var(--backgroung-buttons-color);
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.filters__button:hover, .filters__button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters__button--active {
  color: var(--button-active-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .examples__wrapper {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .examples__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .examples__item {
    margin: 15px;
    flex-basis: calc(100%/2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .examples__item {
    flex-basis: calc(100%/3 - 30px);
  }
}

.examples__link {
  transition: box-shadow 250ms var(--timing-function);
  display: block;
  text-decoration: none;
}

.examples__link:hover, .examples__link:focus {
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples__link:hover .overlay__text {
  transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .examples__link {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.examples__overlay {
  position: relative;
  overflow: hidden;
}

.overlay__text {
  position: absolute;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  top: 0;
  left: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--overlay-examples-text-color);
  background-color: var(--ovarlay-examples-cards-color);
}

.examples__picture {
  display: block;
  height: auto;
  width: 100%;
  max-width: 100%;
}

.examples__card {
  flex-grow: 1;
  padding: 20px 24px;
  border-right: 1px solid var(--border-color-cards);
  border-left: 1px solid var(--border-color-cards);
  border-bottom: 1px solid var(--border-color-cards);
}

.examples__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.examples__text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/*# sourceMappingURL=main.css.map */