.activity {
    display: none;
    @extend %activity-section;

    background-color: var(--white-color);

    @media screen and (min-width: 1200px) {
        display: block;
    }
}

.activity__title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.activity__wrapper {
    @extend %list;

    display: flex;
}

.activity__item {

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.activity__picture {
    display: block;
}

.activity__wrap {
    position: relative;
}

.activity__description {
    position: absolute;

    bottom: 0;
    width: 100%;
    padding: 27px 0;

    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: var(--activity-cards-background);
    color: var(--activity-cards-text-color);
}