.title-hidden {
    @extend %hidden;
}

.filters {
    @extend %list;

    display: flex;
    flex-wrap: wrap;
    
    margin-bottom: 25px;

    @media screen and (min-width: 768px) {
        justify-content: center;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
}

.filters__item {
    &:not(:last-child) {
        margin-right: 8px;
    }

    @media screen and (max-width: 768px) {
        margin-bottom: 15px;
    }
}

.filters__button {
    display: block;
    border: none;
    border-radius: 4px;
    min-width: 73px;
    padding: 6px 22px;

    color: var(--primary-buttons-text-color);
    background-color: var(--backgroung-buttons-color);
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;

    transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);

    &:hover,
    &:focus {
        color: var(--white-color);
        background-color: var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);

    } 
}

.filters__button--active {
   color: var(--button-active-color);
   background-color: var(--accent-color);
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples__wrapper {
    @extend %list;

    @media screen and (min-width: 768px) {
        margin: -15px;
        display: flex;
        flex-wrap: wrap;
    }
}

.examples__item {
    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 768px) {
        margin: 15px;
        flex-basis: calc(100%/2 - 30px);
    }
    
    @media screen and (min-width: 1200px) {
        flex-basis: calc(100%/3 - 30px);
    }
} 

.examples__link {
    transition: box-shadow 250ms var(--timing-function);
    display: block;

    text-decoration: none;
    &:hover,
    &:focus {
        cursor: pointer;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
    }

   &:hover .overlay__text {
       transform: translateY(0);
   }

   @media screen and (min-width: 768px) {
       display: flex;
       flex-direction: column;
       height: 100%;
   }
}

.examples__overlay {
    position: relative;
    overflow: hidden;
}

.overlay__text {
    position: absolute;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);

    top: 0;
    left: 0;

    padding: 77px 24px;
    width: 100%;
    height: 100%;

    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    
    color: var(--overlay-examples-text-color);
    background-color: var(--ovarlay-examples-cards-color);

    @media screen and (min-width: 768px) {
     padding: 63px 24px;
    }

}

.examples__picture {
    display: block;
    height: auto;
    width: 100%;
    max-width: 100%;
}

.examples__card {
    flex-grow: 1;

    padding: 20px 24px;
    
    border-right: 1px solid var(--border-color-cards);
    border-left: 1px solid var(--border-color-cards);
    border-bottom: 1px solid var(--border-color-cards);
}

.examples__title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.examples__text {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;

    color: var(--secondary-text-color);
}