.header {
    border-bottom: 1px solid var(--border-for-header);

    @media screen and (max-width: 767px) {
        position: relative;
    }
}


.header__wrapper {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
        padding-top: 16px;
        padding-bottom: 16px;

        justify-content: space-between;

    }
} 

.header-button__burger {
    // position: absolute;
    
    right: 0px;

    border: none;

    background-color: transparent;

    z-index: 999;

    transition: color 250ms var(--timing-function);

    color: var(--primary-text-color);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.header-button__burger.is-open {
    top: 10px;
    right: 15px;
    padding: 0;
}

.header-button__icon {
    display: block;
    fill: currentColor;
}

.header-button__icon--close {
    display: none;
}

.header-button__burger.is-open .header-button__icon--open {
    display: none;
}

.header-button__burger.is-open .header-button__icon--close {
    display: block;
}

.header__menu-container {
    display: none;
  
    @media screen  and (max-width: 767px) {
        position: fixed;
        top: 0;
        left: 0;
        
        z-index: 1;
        
        flex-direction: column;
        justify-content: space-between;
        
        width: 100vw;
        height: 100vh;
        
        overflow-y: scroll;
        
        padding-top: 48px;
        padding-bottom: 48px;
        padding-left: 40px;

        background-color: #ffffff;

        &.is-open {
            display: flex;
        }
    }

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;

        width: 100%;
    }
}

.header-nav {
    position: relative;
    
    @media screen and (min-width: 768px) {
        margin-left: 88px;
    }
    
    @media screen and (min-width: 1200px) {
        margin-left: 93px;
    }
}

.site-nav {
    @extend %list;

    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.site-nav__item {
    @media screen and (min-width: 768px) {
        &:not(:first-child) {
            margin-left: 50px;
        }
    }   
    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }
}

.site-nav__link {
    transition: color 250ms var(--timing-function);

    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: var(--primary-text-color);

    @media screen and (min-width: 768px) {
        position: relative;

        display: block;
        padding-top: 32px;
        padding-bottom: 32px;

        font-size: inherit;
        line-height: inherit;
    }

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.site-nav__link--current {
    color: var(--accent-color);

    @media screen and (min-width: 768px) {
        color: var(--accent-color);
        &::after {
        content: '';
            
        position: absolute;
        left: 0;
        bottom: -1px;
            
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--accent-color);
        }
    }
}

.auth-nav {
    @extend %list;

    @media screen and (max-width: 767px) {
        margin-bottom: 64px;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        margin-left: auto;
    }

    @media screen and (min-width: 768px) {
        flex-direction: column-reverse;
    }

    @media screen and (min-width: 1200px) {
        flex-direction: row-reverse;
    }
}

.header__info-container {
    @media screen and (min-width: 768px) {
        margin-left: auto;
    }
}

.auth-nav__item {
    @extend %list;

    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        &:not(:first-child) {
            margin-bottom: 10px;
        }
    }

    @media screen and (min-width: 1200px) {
        &:not(:last-child) {
            margin-left: 30px;
        }
    }
}

.auth-nav__link {
    transition: color 250ms var(--timing-function);

    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: var(--secondary-text-color);

    @media screen and (min-width: 768px) {
        font-size: 12px;
        line-height: 1.16;
    }

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.auth-nav__link--large {
   @media screen and (max-width: 767px) {
        font-size: 34px;
        line-height: 1.17;
        
        color: var(--accent-color);
   }

   @media screen and (max-width: 480px) {
       font-size: 24px;
   }

   @media screen and (min-width: 768px) {
       font-size: 12px;
       line-height: 1.16;

       color: var(--secondary-text-color);
   }
}

.auth-nav__icon {
    display: none;

    @media screen and (min-width: 768px) {
        display: inline-block;
        margin-right: 8px;

        vertical-align: middle;
        
        fill: currentColor;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 10px;
    }

}

.header-social {
    @extend %list;

    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.header-social__item {
   &:not(:last-child) {
       padding-right: 10px;
    
       border-right: 1px solid rgba(33, 33, 33, 0.2);
   }
   
   &:not(:first-child) {
       padding-left: 9px;
   }
}

.header-social__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;

    letter-spacing: 0.02em;
    text-decoration: none;
    
    color: var(--accent-color)
}