.logo {
    display: block;

    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--accent-color);
}

.logo--black {
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--logo-studio-color);
}

// футер лого
.logo--white {
    color: var(--white-color);
}

.logo__footer {
    margin-bottom: 20px;
}