.backdrop {
    position: fixed;

    transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);

    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: var(--overlay-color);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    max-width: 450px;
    max-height: 609px;

    width: calc(100vw - 30px);
    height: calc(100vh - 30px);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: var(--modal-window-color);

    @media screen and (min-width: 1200px) {
        max-width: 528px;
        max-height: 581px;
    }
}

.modal-button--close {
    position: absolute;

    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    transition: fill 250ms var(--timing-function);

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;

    fill: var(--close-button-color);

    &:hover {
        fill: var(--accent-color);
    }
}