.social__wrapper {
    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-left: auto;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 70px;
    }
}

.social__title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--color-for-join);
}

.social__list {
    @extend %list;

    display: flex;
    justify-content: center;
}

.social__item {
    &:not(:last-child) {
        margin-right: 10px;
    }
}

.social__link {
    transition: background-color 250ms var(--timing-function);

    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    justify-content: center;
    align-items: center;

    color: var(--color-for-links);
    background-color: var(--icon-background-color);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.social__icon {
    fill: currentColor;
}