.subscribe__wrapper {
    @media screen and (min-width: 768px) {
        flex-grow: 1;
    }
    @media screen and (min-width: 1200px) {
        margin-left: 93px; 
    }
}

.subscribe__title {
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 1.14;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.03em;

    color: var(--subscribe-title-color);
}

.subscribe__form {
    @media screen and (max-width: 1199px) {
        text-align: center;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: nowrap;
    }
}

.subscribe__input {
    padding-left: 16px;
    max-width: 450px;

    width: 100%;
    height: 50px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    background-color: var(--footer-background-color);

    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.03em;

    color: var(--subscribe-input-text-color);

    &::placeholder {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;

        color: var(--subscribe-input-text-color);
    }

    @media screen and (max-width: 1199px) {
        margin-bottom: 20px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 358px;
    }
}

.subscribe__button {
    display: block;

    transition: background-color 250ms var(--timing-function);

    min-width: 200px;
    padding: 10px 0;
    
    vertical-align: middle;
    box-shadow: 0px 4px 4px var(--subscribe-button-box-shadow);
    border: transparent;
    border-radius: 4px;

    background-color: var(--subscribe-button-background-color);
    cursor: pointer;

    font-size: 16px;
    line-height: 1.87;
    font-weight: 700;
    letter-spacing: 0.06em;

    color: var(--subscribe-button-color);

    &:hover {
        background-color: var(--subscribe-button-hover-background-color);
    }

    @media screen and (max-width: 1199px) {
        margin: 0 auto;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 12px;
    }
}

.subscribe__icon {
    margin-left: 10px;
    vertical-align: middle;

    fill: var(--subscribe-icon-color);
}





