body {
    color: var(--primary-text-color);
    background-color: var(--white-color);
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

body.menu-open,
body.modal-open {
    overflow: hidden;
}