%list {
    padding: 0;
    margin: 0;

    list-style: none;
}

// %hero-section {
//     padding: 200px 0;
// }

%hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);

    overflow: hidden;
}

%activity-section {
    padding-top: 0px;
    padding-bottom: 94px;
}

%checkbox-hidden {
    position: absolute;
    
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    
    overflow: hidden;
}